## Rules
1. Keep project blazing fast and resilient to failures.
2. Think from first principles. 
3. Follow SOLID principles
4. Instrument the code with proper metrics and logging.
5. Use logfmt format for logging key=value pairs.
6. Use latest version of rust and cargo and libraries. 
7. Handle graceful shutdowns.
